@charset "utf-8";

/* --------------------------------------- */
/* --------------------------------------- */
/* --------------- profile --------------- */
/* --------------------------------------- */
/* --------------------------------------- */


.section-title {
  text-align: center;
  color: #eee;
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
  letter-spacing: 3px;
  text-shadow: 0 0 10px blue;
  padding-top: 50px;
}

.prof-wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 50px auto 0;
}

.prof-left, .prof-right {
  width: 48%;
}

.prof-img {
  position: relative;
  width: 70%;
  height: auto;
  margin: 0 auto 16px;
}

.prof-img::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 10px 10px #eee, inset 0 0 10px 10px #eee, inset 0 0 10px 10px #eee;
  border-radius: 9.5%;
}

.prof-img img {
  width: 100%;
  border-radius: 10%;
  box-shadow: 0 0 15px #eee, 0 0 15px #eee, 0 0  15px #eee, 0 0 15px #eee, 0 0 15px #eee, 0 0 15px #eee;
  animation: fade 3.5s infinite;
  opacity: 0;
}

@keyframes fade {
  3% {opacity: 0;}
  30% {opacity: 1;}
  70% {opacity: 1;}
  97% {opacity: 0;}
}

.prof-title {
  color: white;
  font-size: 2.5rem;
  font-family: 'Dancing Script', cursive;
  text-shadow: 0 0 10px #333;
  border-bottom: 3px solid #333;
  padding-bottom: 5px;
}

.prof-text {
 font-size: 1.2rem;
 text-shadow: 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white;
 line-height: 1.5rem;
 margin: 10px 0 16px;
}

.prof-title small {
  font-size: 0.8rem;
  font-weight: 400;
  font-family: 'Noto Serif JP', serif;
  color: #333;
  text-shadow: none;
  padding-left: 10px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.icon-item {
  width: 25%;
  text-align: center;
}

.icon-item i{
  font-size: 5rem;
  color: #eee;
  text-shadow: 0 0 5px #333;
}

.icon-item p {
  font-size: 1.2rem;
  margin: 5px 0;
}



@media screen and (max-width: 1024px) {
  .prof-wrapper {
    display: block;
    width: 80%;
    margin: 50px auto 0;
  }

  .prof-left, .prof-right {
    width: 100%;
  }

  .prof-title {
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .prof-img {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .section-title {
    font-size: 3rem;
  }
  .prof-title {
    font-size: 1.75rem;
  }

  .prof-text {
    font-size: 1rem;
  }

  .prof-title small {
    display: block;
    padding-top: 10px;
  }

  .icon-item i {
    font-size: 2.5rem;
  }

  .icon-item p {
    font-size: 1rem;
  }
}



/* ---------------------------------------- */
/* ---------------------------------------- */
/* --------------- favorite --------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
.favorite-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  margin: 50px auto 0;
}

.favorite-item {
  position: relative;
  width: 350px;
  height: 350px;
  margin-bottom: 30px;
}

.favorite-img {
  position: relative;
  width: 100%;
}

.favorite-img img {
  width: 100%;
  height: 350px;
  border-radius: 10%;
  transition: all .2s ease-in-out;
}

.favorite-img img:hover {
  opacity: 0.15;
  transition: all .2s ease-in-out;
}

.favorite-description {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 10px;
  font-size: 1.15rem;
  line-height: 1.5rem;
  color: #333;
  pointer-events: none;
}

.favorite-description span {
  display: block;
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Dancing Script', cursive;
  color: #333;
}

.favorite-img img:hover + .favorite-description {
  display: block;
  transition: all .2s ease-in-out;
}

@media screen and (max-width: 800px) {
  .favorite-wrapper {
    display: block;
    text-align: center;
  }

  .favorite-item {
    width: 100%;
    height: auto;
  }

  .favorite-img img{
    width: 300px;
    height: 300px;
    pointer-events: none;
  }

  .favorite-description {
    display: block;
    position: static;
    text-align: left;
  }
}

@media screen and (max-width: 500px) {
  .favorite-description span {
    font-size: 2rem;
  }

  .favorite-description {
    font-size: 1rem;
  }
}